:local(.topic-edit) {
  min-height: 800px;
  .form-submit {
    .submit-btn {
      display: inline-block;
      width: 100px;
      height: 32px;
      line-height: 32px;
      background: #007fff;
      outline: none;
      border: none;
      color: #ffffff;
      cursor: pointer;
      border-radius: 4px;
      font-size: 14px;
      &:hover {
        background: #0876e4;
      }
    }
  }
}
