:local(.hello) {
    width: 400px;
    height: 400px;
    background: #000000;
    margin: auto;
}

:local .h-l {
    width: 100px;
}

:local .h_h {
    width: 100px;
}

:local .helloabc {
    width: 100px;
}