@import '../styles/markdown.scss';
@import '../styles/variable.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #ffffff;
}

.cursor {
  cursor: pointer;
}

.mcontainer {
  margin: auto;
  width: 100%;
  max-width: $maxWidth;
}

#root {
  padding-bottom: 70px;
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  overflow: auto;
}
