:local(.topic-detail) {
    width: 100%;
    .td-con {
        max-width: 800px;
        margin: auto;
        padding: 20px 0;
    }
    .title {
        text-align: center;
        padding: 20px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    .comments {
        margin-top: 100px;
        border-top: 1px solid #eaecef;
    }
}
